{% extends 'admin/admin_base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">
                <img src="{{ asset('build/images/bottle.svg') }}" alt="bouteille" class="h1_bottle">
                Gestion des utilisateurs
            </h1>
            <hr>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">{{ "Username" | trans }}</th>
                        <th scope="col">{{ "Roles" | trans }}</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in allUsers %}
                        <tr>
                            <td>
                                {{ user.username }}
                                {% if user.isBanned %}
                                    <span class="text-danger"><i class="fas fa-user-slash"></i></span>
                                {% endif %}
                            </td>
                            <td>{{ user.roles | join(', ') }}</td>
                            <td>
                                {% if user.superAdmin %}
                                    <button type="button" class="btn btn-primary" disabled>
                                        <i class="fas fa-cog"></i>
                                        Modifier
                                    </button>
                                {% else %}
                                    <a type="button" class="btn btn-primary"
                                       href="{{ path('admin_user_edit', {id: user.id}) }}">
                                        <i class="fas fa-cog"></i>
                                        Modifier
                                    </a>
                                {% endif %}
                                {% if user.admin %}
                                    <button type="button" class="btn btn-danger" disabled>
                                        <i class="fas fa-user-slash"></i>
                                        Bannir
                                    </button>
                                {% elseif user.isBanned %}
                                    <a type="button" class="btn btn-dark"
                                       href="{{ path('admin_user_unban', {id: user.id}) }}">
                                        <i class="fas fa-user"></i>
                                        Débannir
                                    </a>
                                {% else %}
                                    <a type="button" class="btn btn-danger"
                                       href="{{ path('admin_user_ban', {id: user.id}) }}">
                                        <i class="fas fa-user-slash"></i>
                                        Bannir
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagination">
                {{ knp_pagination_render(allUsers) }}
            </div>
        </div>
    </div>
{% endblock %}
