{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% if error %}
        {#<div aria-live="polite" aria-atomic="true" style="position: relative;">
            <div class="toast" style="position: absolute; top: 0; right: 0;" data-autohide="false">
                <div class="toast-header">
                    <i class="fas fa-exclamation-circle"></i>&nbsp;
                    <strong class="mr-auto">Erreur lors de la connexion</strong>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            </div>
        </div>#}
        {# TODO composant pour toast (idem pour flash ?) #}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Bienvenue {{ app.user.username }} !
            Pour se déconnecter c'est <a href="{{ path('logout') }}">ici</a> !
        </div>
    {% else %}
        <div class="card mx-auto login_form">
            <div class="card-body">
                <h5 class="card-title">Se connecter</h5>
                <form method="post">
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                               class="form-control" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword"
                               class="form-control" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button class="btn btn-lg btn-primary" type="submit">
                        Connexion
                    </button>
                </form>
            </div>
            <div class="card-footer text-center">
                Vous n'avez pas de compte ? Inscrivez-vous <a href="{{ path('register') }}">ici</a> !
            </div>
        </div>
    {% endif %}
{% endblock %}
