{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">
            {{ flashError }}
        </div>
    {% endfor %}

    {% if app.user %}
        <div class="mb-3">
            Bienvenue {{ app.user.username }} !
            Pour se déconnecter c'est <a href="{{ path('logout') }}">ici</a> !
        </div>
    {% else %}
        <div class="card mx-auto login_form">
            <div class="card-body">
                <h5 class="card-title">S'inscrire</h5>
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button class="btn btn-lg btn-primary" type="submit">
                    Inscription
                </button>
                {{ form_end(registrationForm) }}
            </div>
            <div class="card-footer text-center">
                Vous avez déjà un compte ? Connectez-vous <a href="{{ path('login') }}">ici</a> !
            </div>
        </div>
    {% endif %}
{% endblock %}
