{% extends 'admin/admin_base.html.twig' %}

{% block title %}Gestion des bières{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">
                <img src="{{ asset('build/images/bottle.svg') }}" alt="bouteille" class="h1_bottle">
                Gestion des bières
            </h1>
            <hr>

            <div class="text-right mb-3">
                <a type="button" class="btn btn-success" href="{{ path('admin_shop_add_beer') }}">
                    <i class="fas fa-plus"></i>
                    Ajouter une bière
                </a>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Dernière modification</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for beer in allBeer %}
                            <tr>
                                <td>
                                    <a href="{{ path('shop_beer',
                                        {id: beer.id, slug: beer.slug}) }}"
                                       target="_blank">
                                        {{ beer.name }}
                                    </a>
                                </td>
                                <td>{{ beer.price }} €</td>
                                <td>{{ beer.stock }}</td>
                                <td>{{ beer.updatedAt | format_datetime('short') }}</td>
                                <td>
                                    <a type="button" class="btn btn-primary"
                                       href="{{ path('admin_shop_edit_beer', {id: beer.id}) }}">
                                        <i class="fas fa-cog"></i>
                                        Modifier
                                    </a>
                                    <a type="button" class="btn btn-danger"
                                       href="{{ path('admin_shop_delete_beer', {id: beer.id}) }}">
                                        <i class="fas fa-trash-alt"></i>
                                        Supprimer
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="pagination">
                {{ knp_pagination_render(allBeer) }}
            </div>

            <div class="text-right">
                <a type="button" class="btn btn-success" href="{{ path('admin_shop_add_beer') }}">
                    <i class="fas fa-plus"></i>
                    Ajouter une bière
                </a>
            </div>
        </div>
    </div>
{% endblock %}
