{% extends 'admin/admin_base.html.twig' %}

{% block title %}Gestion éléments divers{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">
                <img src="{{ asset('build/images/bottle.svg') }}"
                     alt="bouteille" class="h1_bottle">
                Gestion éléments divers
            </h1>
            <hr>

            <div class="text-right mb-3">
                <a type="button" class="btn btn-success" href="{{ path('admin_about_create') }}">
                    <i class="fas fa-plus"></i>
                    Ajout un élément divers
                </a>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">{{ "Name" | trans }}</th>
                        <th scope="col">Dernière modification</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for about in allAbout %}
                        <tr>
                            <td>
                                {{ about.name }}
                            </td>
                            <td>{{ about.updatedAt | format_datetime('short') }}</td>
                            <td>
                                <a type="button" class="btn btn-primary"
                                   href="{{ path('admin_about_edit', {id: about.id}) }}">
                                    <i class="fas fa-cog"></i>
                                    Modifier
                                </a>
                                <a type="button" class="btn btn-danger"
                                   href="{{ path('admin_about_delete', {id: about.id}) }}">
                                    <i class="fas fa-trash-alt"></i>
                                    Supprimer
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagination">
                {{ knp_pagination_render(allAbout) }}
            </div>

            <div class="text-right">
                <a type="button" class="btn btn-success" href="{{ path('admin_about_create') }}">
                    <i class="fas fa-plus"></i>
                    Ajout un élément divers
                </a>
            </div>
        </div>
    </div>
{% endblock %}
