{% extends 'admin/admin_base.html.twig' %}

{% block title %}Supprimer une région{% endblock %}

{% block body %}
    <div class="card mx-auto medium_form">
        <div class="card-body">
            <h5 class="card-title">Supprimer une région</h5>

            <div class="jumbotron">
                <h1 class="display-4">{{ region.name }}</h1>
                <hr class="my-4">
                <p>
                    Dernière modification le {{ region.updatedAt | format_datetime() }}
                </p>
            </div>

            {{ form_start(form) }}
            {{ form_row(form.sureDelete) }}

            <div class="text-center">
                <a class="btn btn-light" href="{{ path('admin_shop_list_region') }}">
                    Ne PAS supprimer la région
                </a>
                <button class="btn btn-danger" type="submit">
                    <i class="fas fa-trash-alt"></i>
                    Supprimer la région
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
