{% extends 'admin/admin_base.html.twig' %}

{% block title %}Supprimer un article{% endblock %}

{% block body %}
    <div class="card mx-auto medium_form">
        <div class="card-body">
            <h5 class="card-title">Supprimer un article</h5>

            <div class="jumbotron">
                <h1 class="display-4">{{ post.title }}</h1>
                <p class="lead">
                    Article écris par <strong>{{ post.author.username }}</strong>
                    le {{ post.createdAt | format_datetime() }}
                </p>
                <hr class="my-4">
                <p>
                    Dernière modification le {{ post.updatedAt | format_datetime() }}
                </p>
            </div>

            {{ form_start(form) }}
            {{ form_row(form.sureDelete) }}

            <div class="text-center">
                <a class="btn btn-light" href="{{ path('admin_blog_list') }}">
                    Ne PAS supprimer l'article
                </a>
                <button class="btn btn-danger" type="submit">
                    <i class="fas fa-trash-alt"></i>
                    Supprimer l'article
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
