{% extends 'admin/admin_base.html.twig' %}

{% block title %}Supprimer un article{% endblock %}

{% block body %}
    <div class="card mx-auto medium_form mt-3 mb-3">
        <div class="card-body">
            <h5 class="card-title">Supprimer un article</h5>

            <div class="jumbotron">
                <h1 class="display-4">{{ entity.title }}</h1>
                <p class="lead">
                    Article écris par <strong>{{ entity.author.username }}</strong>
                    le {{ entity.createdAt | format_datetime() }}
                </p>
                <hr class="my-4">
                <p>
                    Dernière modification le {{ entity.updatedAt | format_datetime() }}
                </p>
            </div>

            {{ form_start(form) }}
            {{ form_row(form.sureDelete) }}

            <div class="text-center">
                <a class="btn btn-dark" href="{{ path(indexRouteName) }}">
                    <i class="fas fa-undo"></i>&nbsp;
                    Ne PAS supprimer l'article
                </a>
                <button class="btn btn-danger" type="submit">
                    <i class="fas fa-trash-alt"></i>&nbsp;
                    Supprimer l'article
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
