{% extends 'admin/admin_base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
    <div class="card mx-auto blog_form">
        <div class="card-body">
            <h5 class="card-title">Modifier l'article {{ post.title }}</h5>
            {{ form_start(editForm) }}
            {{ form_row(editForm.title) }}
            {{ form_row(editForm.tags) }}
            {{ form_row(editForm.content) }}

            <div class="text-center">
                <a class="btn btn-light" href="{{ path('admin_blog_list') }}">
                    Annuler
                </a>
                <button class="btn btn-success" type="submit">
                    Modifier
                </button>
            </div>
            {{ form_end(editForm) }}
        </div>
    </div>
{% endblock %}
