{% extends 'admin/admin_base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
    <div class="card mx-auto blog_form">
        <div class="card-body">
            <h5 class="card-title">Modifier l'article {{ post.title }}</h5>
            {{ form_start(editForm) }}
            {{ form_row(editForm.title) }}
            {{ form_row(editForm.description) }}
            {{ form_row(editForm.imageFile) }}
            {{ form_row(editForm.content) }}

            <div class="text-center">
                <a class="btn btn-light" href="{{ path('admin_blog_list') }}">
                    Annuler
                </a>
                <button class="btn btn-success" type="submit">
                    Modifier
                </button>
                {% if post.isVisible %}
                    <a type="button" class="btn btn-dark"
                       href="{{ path('admin_blog_set_invisible_post', {id: post.id}) }}">
                        <i class="fas fa-glasses"></i>
                        Masquer
                    </a>
                {% else %}
                    <a type="button" class="btn btn-info"
                       href="{{ path('admin_blog_set_visible_post', {id: post.id}) }}">
                        <i class="fas fa-glasses"></i>
                        Afficher&nbsp;&nbsp;
                    </a>
                {% endif %}
            </div>
            {{ form_end(editForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
{% endblock %}
