{% extends 'base.html.twig' %}

{% block title %}{{ beer.name }}{% endblock %}
{% block description %}
    <meta name="description" content="Page de vente de {{ beer.name }}">
{% endblock %}

{% block body %}
    <div class="container mt-3 mb-3">
        <div class="row">
            <!-- Photo -->
            <div class="col-sm-4 text-center beer_img_desc">
                {% if beer.imageName %}
                    <img src="{{ vich_uploader_asset(beer, 'imageFile') | imagine_filter('beer') }}"
                         class="img-fluid"
                         alt="photo {{ beer.name }}">
                {% else %}
                    <img src="{{ asset('build/images/bottle-empty.png') }}"
                         alt="photo {{ beer.name }}">
                {% endif %}
            </div>
            <!-- Description -->
            <div class="col-sm-8">
                <h2 class="beer_name">{{ beer.name }}</h2>
                <h4 class="beer_price">
                    {{ beer.price }} €
                    <small>{{ beer.stock }} bouteilles disponibles</small>
                </h4>
                <table class="table">
                    <tr>
                        <th scope="row">Ingrédients</th>
                        <td>{{ beer.ingredients }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Alcool</th>
                        <td>{{ beer.degree }}</td>
                    </tr>
                </table>
                <p>{{ beer.description }}</p>
            </div>
        </div>
        {{ include('shop/_add_to_cart.html.twig',
            { quantity: quantity, url: "beer-" ~ beer.id }) }}
    </div>
{% endblock %}
