{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}
{% block description %}
    <meta name="description" content="{{ post.description }}">
{% endblock %}
{% block author %}
    <meta name="author" content="{{ post.author.username }}">
{% endblock %}

{% block body %}
    <div class="container mt-3 mb-3">
        {{ include('components/titles/title1.html.twig', { title: post.title }) }}
        <div class="mb-1 text-muted">
            {{ post.createdAt | format_datetime('long') }}
            -
            {{ post.author.username }}
        </div>
        <hr>

        {% if post.imageName %}
            <div class="text-center mb-4">
                <img src="{{ vich_uploader_asset(post, 'imageFile') }}"
                     class="img-fluid"
                     alt="image-{{ post.slug }}">
            </div>
        {% endif %}

        <div class="text-justify">
            {{ post.content | raw }}
        </div>

        <div class="text-right mt-4">
            <a href="{{ path('blog_list') }}" class="btn btn-link">Lire d'autres articles</a>
        </div>
    </div>
{% endblock %}
