{% extends 'base.html.twig' %}

{% block title %}{{ appellation.name }}{% endblock %}
{% block description %}
    <meta name="description" content="Tous les vins de l'appellation {{ appellation.name }}">
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">
                <img src="{{ asset('build/images/bottle.svg') }}"
                     alt="bouteille" class="h1_bottle">
                {{ appellation.name }}
            </h1>
            <hr>
            <div>
                {% for productor in appellation.productors %}
                    <h3 class="by_productor">
                        <a href="{{ path('shop_productor',
                            { id: productor.id, slug: productor.slug }) }}">
                            {{ productor.name }}
                        </a>
                    </h3>
                    <ul>
                        {% for wine in productor.wines %}
                            <li class="wine_list_item">
                                {{ include('shop/_whine_list_item.html.twig',
                                    {wine: wine}) }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
