{% extends 'base.html.twig' %}

{% block title %}{{ region.name }}{% endblock %}
{% block description %}
    <meta name="description" content="Tous les vins de la région {{ region.name }}">
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">
                <img src="{{ asset('build/images/bottle.svg') }}"
                     alt="bouteille" class="h1_bottle">
                {{ region.name }}
            </h1>
            <hr>
            <div>
                {% for appellation in region.appellations %}
                    <h2 class="by_appellation">
                        <a href="{{ path('shop_appellation',
                            { id: appellation.id, slug: appellation.slug }) }}">
                            {{ appellation.name }}
                        </a>
                    </h2>
                    {% for productor in appellation.productors %}
                        <h3 class="by_productor">
                            <a href="{{ path('shop_productor',
                                { id: productor.id, slug: productor.slug }) }}">
                                {{ productor.name }}
                            </a>
                        </h3>
                        <ul>
                            {% for wine in productor.wines %}
                                <li class="wine_list_item">
                                    {{ include('shop/_whine_list_item.html.twig',
                                        {wine: wine}) }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
