{% extends 'base.html.twig' %}

{% block title %}{{ region.name }}{% endblock %}
{% block description %}
    <meta name="description" content="Tous les vins de la région {{ region.name }}">
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body pb-0">
            <h1 class="card-title">
                <img src="{{ asset('build/images/bottle.svg') }}"
                     alt="bouteille" class="h1_bottle">
                {{ region.name }}
            </h1>
            <hr>
            <div>
                {% for appellation in region.appellations %}
                    {{ include('shop/_appellation_list_item.html.twig',
                        {appellation: appellation}) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
