<div class="card">
    <div class="card-body">
        {{ form_start(form, { attr: { class: 'js-filter-form' } }) }}

        <div class="spinner-border js-filter-loading" role="status"
             aria-hidden="true" style="display: none">
            <span class="sr-only">Loading</span>
        </div>

        {{ form_row(form.name) }}

        <h6>Prix</h6>
        <div class="row">
            <div class="col">
                {{ form_row(form.min) }}
            </div>
            <div class="col">
                {{ form_row(form.max) }}
            </div>
        </div>
        <div id="price_slider" data-min="{{ min }}" data-max="{{ max }}"></div>

        {{ form_row(form.appellation) }}
        {{ form_row(form.productor) }}
        {{ form_end(form) }}
    </div>
</div>
