{% extends 'base.html.twig' %}

{% block title %}Supprimer de compte{% endblock %}

{% block body %}
    <div class="card mx-auto short_form mt-3 mb-3">
        <div class="card-body">
            <h5 class="card-title">Supprimer mon compte</h5>
            {{ form_start(deleteProfileForm) }}
            {{ form_row(deleteProfileForm.agreeDelete) }}
            {{ form_row(deleteProfileForm.plainPassword) }}

            <a class="btn btn-secondary" href="{{ path('home') }}">
                Ne PAS supprimer mon compte
            </a>
            <button class="btn btn-danger" type="submit">
                Supprimer mon compte
            </button>
            {{ form_end(deleteProfileForm) }}
        </div>
    </div>
{% endblock %}
