{% extends 'base.html.twig' %}

{% block title %}Modification du profile{% endblock %}

{% block body %}
    <div class="card mx-auto login_form">
        <div class="card-body">
            <h5 class="card-title">Modifier mon profile</h5>
            {{ form_start(editProfileForm) }}
            {{ form_row(editProfileForm.email) }}
            {{ form_row(editProfileForm.username) }}

            <button class="btn btn-lg btn-primary" type="submit">
                Sauvegarder
            </button>
            {{ form_end(editProfileForm) }}
        </div>
        <div class="card-footer text-center">
            TODO suppression compte
            Vous avez déjà un compte ? Connectez-vous <a href="{{ path('login') }}">ici</a> !
        </div>
    </div>
{% endblock %}
