{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            Bienvenue {{ app.user.username }} !
            Pour se déconnecter c'est <a href="{{ path('logout') }}">ici</a> !
        </div>
    {% else %}
        <div class="card mx-auto login_form">
            <div class="card-body">
                <h5 class="card-title">Se connecter</h5>
                <form method="post">
                    <div class="form-group">
                        {% if error and error.messageKey == "Email could not be found." %}
                            <label for="inputEmail">
                                Email
                                <span class="invalid-feedback d-block">
                                    <span class="d-block">
                                        <span class="form-error-icon badge badge-danger text-uppercase">
                                            Erreur
                                        </span>
                                        <span class="form-error-message">
                                            {{ error.messageKey | trans(error.messageData, 'security') }}
                                        </span>
                                    </span>
                                </span>
                            </label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control is-invalid" required autofocus>
                        {% else %}
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control" required autofocus>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if error and error.messageKey == "Invalid credentials." %}
                            <label for="inputPassword">
                                Mot de passe
                                <span class="invalid-feedback d-block">
                                    <span class="d-block">
                                        <span class="form-error-icon badge badge-danger text-uppercase">
                                            Erreur
                                        </span>
                                        <span class="form-error-message">
                                            {{ error.messageKey | trans(error.messageData, 'security') }}
                                        </span>
                                    </span>
                                </span>
                            </label>
                            <input type="password" name="password" id="inputPassword"
                                   class="form-control is-invalid" required>
                        {% else %}
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword"
                                   class="form-control" required>
                        {% endif %}
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button class="btn btn-lg btn-primary" type="submit">
                        Connexion
                    </button>
                </form>
            </div>
            <div class="card-footer text-center">
                Vous n'avez pas de compte ? Inscrivez-vous <a href="{{ path('register') }}">ici</a> !
            </div>
        </div>
    {% endif %}
{% endblock %}
