{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('user_verify_email_error') %}
        <div class="alert alert-danger" role="alert">
            {{ flashError }}
        </div>
    {% endfor %}

    {% if app.user %}
        <div class="mb-3">
            Bienvenue {{ app.user.username }} !
            Pour se déconnecter c'est <a href="{{ path('logout') }}">ici</a> !
        </div>
    {% else %}
        <div class="card mx-auto medium_form mt-3 mb-3">
            <div class="card-body">
                <h5 class="card-title">S'inscrire</h5>
                {{ form_start(registrationForm) }}
                <div class="row">
                    <div class="col">{{ form_row(registrationForm.email) }}</div>
                    <div class="col">{{ form_row(registrationForm.username) }}</div>
                </div>
                <div class="row">
                    {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_row(registrationForm.agreeTerms) }}
                        <small class="text-muted text-justify">
                            Vos données personnelles (email et nom d'utilisateur)
                            ne sont utilisées qu'à des fins d'authentification et ne sont
                            pas partagées avec des tiers <a href="#">(En savoir plus)</a>.
                        </small>
                    </div>
                    <div class="col">{{ form_row(registrationForm.captcha) }}</div>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        Inscription
                    </button>
                </div>
                {{ form_end(registrationForm) }}
            </div>
            <div class="card-footer text-center">
                Vous avez déjà un compte ? Connectez-vous <a href="{{ path('login') }}">ici</a> !
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script src="//www.google.com/recaptcha/api.js?hl={{ app.request.locale }}"></script>
{% endblock %}
